*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    width: 100%;
    height: 100%;
}
header{
    margin: auto;
    width:90% ;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header div h1{
    font-size: 40px;
    font-family:cursive;
}

header div a{
margin-left: 40px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    
    gap: 30px;
}

header div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
}
header .icon{
width: 10%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

@media (max-width:1200px){
    header div h1{
        font-size: 35px;
        font-family:cursive;
    }
    
    header div a{
    margin-left: 25px;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: bold;
        
    
    }
    
    header div img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    
}


@media (max-width:1024px){
    header div h1{
        font-size: 30px;
        font-family:cursive;
    }
    
    header div a{
    margin-left: 10px;
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
        
    
    }
    
    header div img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    
    }
    header .icon i{
    display: none;
    
    }
    
    
}

@media (max-width:756px){
    header div h1{
        font-size: 40px;
        font-family:cursive;
        
    }
    
    header div a{
    display: none;
        
    
    }
    header .remove i{
        display: none;
        
        
    }
    
    header div img{
        display: none;
    
    }


}

@media (max-width:480px){
    header div h1{
        font-size: 30px;
        font-family:cursive;
        
    }
    

}

main{
    margin-top: 50px;
    width: 100%;
    height: 100%; 
}
.head{
    width: 90%;
    height: 500px;
    margin: auto ;
    background-color: rgba(14, 205, 205, 0.142);
    display: flex;
    align-items: center;
    
    position: relative;

}
.head img{
width: 800px;
height: 500px;
object-fit: cover;
background-size: cover;

}
.head div h3{
    font-size: 20px;
}
.head div h1{
    font-size: 50px;
}
.head div p{
    font-size: 20px;

}
.head div {
margin: auto;
display: flex;
flex-direction: column;
gap: 20px;

}
.head .divi{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width:1300px){
    .head img{
        width: 600px;
        height: 500px;
        object-fit: cover;
        background-size: cover;
    }
}
@media (max-width:1200px){
    .head{
        height: 400px;
    }
    .head img{
        width: 500px;
        height: 400px;
        object-fit: cover;
        background-size: cover;
    }
    .head div h3{
        font-size: 20px;
    }
    .head div h1{
        font-size: 40px;
    }
    .head div p{
        font-size: 18px;
        
    }
    .head div {
        margin: auto;
        display: flex;
        flex-direction: column;
    gap: 0;
        
    }
    .head .divi{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    
}

@media (max-width:1024px){
    .head{
        height: 350px;
    }
    .head img{
        width: 350px;
        height: 350px;
        object-fit: cover;
        background-size: cover;
    }
    .head div h3{
        font-size: 18px;
    }
    .head div h1{
        font-size: 35px;
    }
    .head div p{
        font-size: 16px;
        
    }
    .head div {
        margin: auto;
        display: flex;
        flex-direction: column;
    gap: 0;
        
    }
    .head .divi{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }}

@media (max-width:756px){
    .head{
    
        height: 600px;
        display: flex;
        flex-direction: column;
    }
    .head img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        background-size: cover;
    }
    .head div h3{
        font-size: 18px;
    }
    .head div h1{
        font-size: 35px;
    }
    .head div p{
        font-size: 16px;
        
    }
    .head div {
        margin: auto;
        display: flex;
        flex-direction: column;
    gap: 0;
        
    }}

@media (max-width:480px){
    .head{
        height: 700px;
    }
    .head img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    background-size: cover; 
    }
    .head div h3{
        font-size: 18px;
    }
    .head div h1{
        font-size: 35px;
    }
    .head div p{
        font-size: 16px;
        
    }
    .head div {
        margin: auto;
        display: flex;
        flex-direction: column;
    gap: 0;
        
    }
    

}




main h1{
width: 90%;
margin: auto;
font-size: 40px;
padding: 50px 0;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}



.foods{
    margin: auto;
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.foods img{
    width: 350px;
    height: 300px;
    object-fit: cover;
    background-size: cover;
}
.foods h3{
    margin: 20px 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:1260px){
    main h1{
        width: 90%;
        margin: auto;
        font-size: 40px;
        padding: 50px 0;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    
    
    
    .foods{
        margin: auto;
        width: 90%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .foods img{
        width: 290px;
        height: 290px;
        object-fit: cover;
    background-size: cover; 
    }
    .foods h3{
        margin: 20px 0;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }}
@media (max-width:1024px){
    
    main h1{
        width: 90%;
        margin: auto;
        font-size: 30px;
        padding: 30px 0;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    
    
    
    .foods{
        margin: auto;
        width: 90%;
        height: 350px;
        display: flex;
        
        align-items: center;
        justify-content: space-between;
    
    }
    .foods img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    background-size: cover; 
    }
    .foods h3{
        margin: 20px 0;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }}

@media (max-width:800px){
    main h1{
        width: 90%;
        margin: auto;
        font-size: 27px;
        padding: 30px 0;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    
    
    
    .foods{
        margin: auto;
        width: 90%;
        height: 700px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        
        align-items: center;
        justify-content: space-between;
    
    }
    .foods img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    background-size: cover; 
    }
    .foods h3{
        margin: 20px 0;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }}

    @media (max-width:700px){
        main h1{
            width: 90%;
            margin: auto;
            font-size: 27px;
            padding: 40px 0;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }
        .foods img{
            width: 250px;
            height: 250px;
            object-fit: cover;
    background-size: cover; 
        }
    }
@media (max-width:576px){
    main h1{
        width: 80%;
        margin: auto;
        font-size: 27px;
        padding: 40px 0;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    
    
    .foods{
        margin: auto;
        width: 90%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    .foods img{
        width: 450px;
        height: 250px;
        object-fit: cover;
background-size: cover; 
    }
    

    .foods h3{
        margin: 20px 0;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }}   
    

    @media (max-width:480px){
        main h1{
            width: 80%;
            margin: auto;
            font-size: 30px;
            padding: 50px 0;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }
        
        
        
        .foods{
            margin: auto;
            width: 90%;
            height: 900px;
            display: flex;
            
            align-items: center;
            justify-content: space-between;
        
        }
        .foods img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            background-size: cover; 
        }
        .foods h3{
            margin: 20px 0;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
        }}   
        


.rasm{
    margin: auto;
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rasm img{
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
}
.rasm h1{

    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media(max-width:1290px) {
    .rasm{
        margin: auto;
        width: 90%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .rasm img{
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        background-size: cover;
    }
    .rasm h1{
    
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
}

@media (max-width:1024px){
    .rasm{
        margin: auto;
        width: 90%;
        height: 300px;
        display: flex;
        align-items: center;
    
    
        
        text-align: center;
    }
    
    .rasm img{
        text-align: center;
        width: 120px;
        border-radius: 50%;
    }
    .rasm h1{
    
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}

@media (max-width:850px){
    .rasm{
        margin: auto;
        width: 90%;
        height: 500px;
        display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto ;
        text-align: center;
        
    }
    
    .rasm img{
        text-align: center;
        width: 130px;
        border-radius: 50%;
    }
    .rasm h1{
    padding: 10px;
    
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}

@media (max-width:605px){
    .rasm{
        margin: auto;
        width: 90%;
        height: 500px;
        display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto;
        text-align: center;
        
    }
    
    .rasm img{
        text-align: center;
        width: 130px;
        border-radius: 50%;
    }
    .rasm h1{
    padding: 10px;
    
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}
@media (max-width:480px){
    .rasm{
        margin: auto;
        width: 90%;
        height: 700px;
        display: grid;
    grid-template-columns: auto auto  ;
    grid-template-rows: auto auto auto auto;
        text-align: center;
        
    }
    
    .rasm img{
        text-align: center;
        width: 150px;
        border-radius: 50%;
    }
    .rasm h1{
    padding: 10px;
    
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}




.footerr{
    width: 100%;
    height: 500px;
    background-color: rgba(233, 150, 122, 0.545);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 20px;
}

.footerr h1{
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
}
p{
    font-size: 28px;
    text-align: center;
}
.footerr div{
width: 35%;
height: 15%; 
background-color: white; 
}
.footerr input{
width: 75%;
height: 100%;
    
    border: none;
    font-size: 20px;
    
}
.footerr button{
    background-color: orangered;
    color: white;
    border: none;
    width: 23%;
    height: 80%;
}

@media (max-width:1200px){
    .footerr{
        width: 100%;
        height: 500px;
        background-color: rgba(233, 150, 122, 0.545);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        gap: 20px;
    }
    
    .footerr h1{
        font-size: 70px;
        font-family:'Times New Roman', Times, serif;
    }
    p{
        font-size: 26px;
        text-align: center;
    }
    .footerr div{
    width: 30%;
    height: 12%; 
    background-color: white; 
    }
    .footerr input{
    width: 75%;
    height: 100%;
        
        border: none;
        font-size: 20px;
        
    }
    .footerr button{
        background-color: orangered;
        color: white;
        border: none;
        width: 23%;
        height: 80%;
    }
}

@media (max-width:1024px){
    .footerrr{
        width: 100%;
        height: 400px;
        background-color: rgba(233, 150, 122, 0.545);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        gap: 20px;
    }
    
    .footerr h1{
        font-size: 60px;
        font-family:'Times New Roman', Times, serif;
    }
    p{
        font-size: 22px;
        text-align: center;
    }
    .footerr div{
    width: 27%;
    height: 10%; 
    background-color: white; 
    }
    .footerr input{
    width: 75%;
    height: 100%;
        
        border: none;
        font-size: 16px;
        
    }
    .footerr button{
        background-color: orangered;
        color: white;
        border: none;
        width: 23%;
        height: 80%;
    }}

@media (max-width:756px){
    .footerr{
        width: 100%;
        height: 400px;
        background-color: rgba(233, 150, 122, 0.545);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        gap: 20px;
    }
    
    .footerr h1{
        font-size: 50px;
        font-family:'Times New Roman', Times, serif;
    }
    p{
        font-size: 20px;
        text-align: center;
    }
    .footerr div{
    width: 25%;
    height: 10%; 
    background-color: white; 
    }
    .footerr input{
    width: 75%;
    height: 100%;
        
        border: none;
        font-size: 13px;
        
    }
    .footerr button{
        background-color: orangered;
        color: white;
        border: none;
        width: 20%;
        height: 70%;
    }}

@media (max-width:556px){
    .footerr{
        width: 100%;
        height: 400px;
        background-color: rgba(233, 150, 122, 0.545);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        gap: 20px;
    }
    
    .footerr h1{
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
    }
    p{
        font-size: 16px;
        text-align: center;
    }
    .footerr div{
    width: 25%;
    height: 8%; 
    background-color: white; 
    }
    .footerr input{
    width: 75%;
    height: 100%;
        
        border: none;
        font-size: 12px;
        
    }
    .footerr button{
        background-color: orangered;
        color: white;
        border: none;
        width: 20%;
        height: 70%;
    }
    

}




.asil_asilbek {
    margin-left: 182px;
}

.asil_birinchi {
    h1 {
        font-size: 59.5px;
        width: 900px;
    }

    .asil_img img {
        width: 560px;
        height: 352px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .asil_img h2 {
        font-size: 40px;
        width: 350px;
        margin-left: 29px;
    }

    .asil_img {
        h4 {
            border: 0.5px solid rgb(169, 166, 166);
            width: 125px;
            height: 28px;
            padding-top: 5;
            text-align: center;
            margin-left: 370px;
            margin-top: -68px;
            font-size: 18px;
        }

        border-radius: 9px;
    }

    .asil_img {
        border: solid 0.5px rgb(169, 166, 166);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 560px;
    }
}

.asil_imgdivi {
    display: flex;
    gap: 32px;
    width: 620px;
}

.asil_img2 {
    height: 440px;
    margin-top: 30px;
    border: solid 0.5px rgb(169, 166, 166);
    width: 580.4px;
    border-radius: 9px;

    img {
        width: 567px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    h2 {
        font-size: 40px;
        width: 350px;
        margin-left: 29px;
        margin-top: 15px;
    }

    h4 {
        border: 0.5px solid black;
        width: 125px;
        height: 28px;
        padding-top: 5;
        text-align: center;
        margin-left: 370px;
        margin-top: -68px;
        font-size: 18px;
    }
}

.asil_img3 {
    height: 425px;
    margin-top: 47.7px;
    border: solid 0.5px rgb(169, 166, 166);
    width: 560.7px;
    border-radius: 9px;

    img {
        width: 560px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    h2 {
        font-size: 40px;
        width: 350px;
        margin-left: 29px;
        margin-top: 25px;
    }

    h4 {
        border: 0.5px solid black;
        width: 125px;
        height: 23px;
        padding-top: 5;
        text-align: center;
        margin-left: 370px;
        margin-top: -68px;
        font-size: 18px;
    }
}



.asil_img4 img {
    width: 560px;
    height: 326px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.asil_img4 h2 {
    font-size: 40px;
    width: 350px;
    margin-left: 29px;
}

.asil_img4 {
    h4 {
        border: 0.5px solid rgb(169, 166, 166);
        width: 125px;
        height: 28px;
        padding-top: 5;
        text-align: center;
        margin-left: 370px;
        margin-top: -68px;
        font-size: 18px;
    }

    border-radius: 9px;
}

.asil_img4 {
    border: solid 0.5px rgb(169, 166, 166);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 560px;
    margin-left: 6px;
    margin-top: 9px;
}

.asil_imgdivi2 {
    display: flex;
    gap: 32px;
}


.asil_img5 img {
    width: 560px;
    height: 326px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.asil_img5 h2 {
    font-size: 40px;
    width: 350px;
    margin-left: 29px;
}

.asil_img5 {
    h4 {
        border: 0.5px solid rgb(169, 166, 166);
        width: 125px;
        height: 28px;
        padding-top: 5;
        text-align: center;
        margin-left: 370px;
        margin-top: -68px;
        font-size: 18px;
    }

    border-radius: 9px;
}

.asil_img5 {
    border: solid 0.5px rgb(169, 166, 166);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 560px;
    margin-left: 6px;
    margin-top: 30px;
    border-bottom: none;
}

.asil_imgdivi3 {
    display: flex;
    gap: 32px;
}


.asil_img6 img {
    width: 560px;
    height: 326px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.asil_img6 h2 {
    font-size: 40px;
    width: 350px;
    margin-left: 29px;
}

.asil_img6 {
    h4 {
        border: 0.5px solid rgb(169, 166, 166);
        width: 125px;
        height: 28px;
        padding-top: 5;
        text-align: center;
        margin-left: 370px;
        margin-top: -68px;
        font-size: 18px;
    }

    border-radius: 9px;
}

.asil_img6 {
    border: solid 0.5px rgb(169, 166, 166);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 560px;
    margin-left: 6px;
    margin-top: 30px;
    border-bottom: none;
}

.asil_ikkinchi {
    .h1 {
        font-size: 50.5px;
        width: 350px;
    }

    .asil_shirinliklar {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 300px;
        column-gap: 30px;

        .asil_cakes img {
            width: 270px;
            display: flex;
        }

        .asil_cakes h2 {
            width: 250px;
            font-size: 25px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        }
    }
}

.asil_load {
    margin-top: 70px;
    text-align: center;
    margin-left: 450px;
    font-size: 25px;
    border: 1px solid black;
    width: 270px;
    height: 60px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 8px;
}

.asil_footer {
    table {
        width: 1275px;
        margin: 188px;

        hr {
            width: 1000px;
        }
    }

    .asil_birth {
        width: 730px;
        text-align: start;
    }

    th {
        text-align: start;
    }

    td {
        color: gray;
    }

    .asil_oxiri {
        text-align: center;
        font-size: 30px;
    }

    background-color: rgb(231, 228, 228);
    width: 1509.5px;
    height: 300px;
}

.asil_ajayib {
    font-size: 18px;
}

@media only screen and (max-width: 1285.70px) {
    .asil_asilbek {
        margin-left: 0;
    }

    .asil_footer {
        table {
            width: 1200px;
            margin: 0;

            hr {
                width: 1000px;
            }
        }

        .asil_birth {
            width: 650px;
            margin-left: 20;
        }

        th {
            text-align: start;
        }

        td {
            color: gray;
        }

        .asil_oxiri {
            text-align: center;
            font-size: 30px;
        }

        background-color: rgb(231, 228, 228);
        width:1200px;
        height: 300px;
    }

    .asil_ajayib {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1225px) {
    .asil_footer {
        width: 1169px;
    }
}

@media only screen and (max-width: 1024px) {
    .asil_birinchi {
        h1 {
            font-size: 45.5px;
            width: 4789x;
        }

        .asil_img img {
            width: 460px;
            height: 310px;
        }

        .asil_img h2 {
            font-size: 30px;
            width: 300px;
            margin-left: 0;
        }

        .asil_img {
            h4 {
                border: 0.5px solid rgb(169, 166, 166);
                width: 125px;
                height: 28px;
                padding-top: 5;
                text-align: center;
                margin-left: 299px;
                margin-top: -60px;
                font-size: 18px;
            }

            border-radius: 9px;
        }

        .asil_img {
            width: 560px;
            height: 430px;
        }
    }

    .asil_imgdivi {
        display: flex;
        gap: 20px;
        width: 620px;
    }

    .asil_img2 {
        height: 380px;
        width: 500px;

        img {
            width: 500px;
        }

        h2 {
            font-size: 30px;
            width: 300px;
            margin-left: 0;
        }

        h4 {
            width: 125px;
            height: 28px;
            text-align: center;
            margin-left: 370px;
            margin-top: -59px;
        }
    }

    .asil_img3 {
        height: 380px;
        margin-top: 47.7px;
        border: solid 0.5px rgb(169, 166, 166);
        width: 460.7px;

        img {
            width: 460px;
            height: 300px;
        }

        h2 {
            font-size: 30px;
            margin-left: 0;
        }

        h4 {
            border: 0.5px solid black;
            width: 125px;
            height: 23px;
            margin-left: 330px;
            margin-top: -58px
        }
    }



    .asil_img4 img {
        width: 500px;
        height: 300px;
    }

    .asil_img4 h2 {
        font-size: 30px;
        width: 300px;
        margin-left: 0;
    }

    .asil_imgdivi2 {
        display: flex;
        gap: 15px;
    }

    .asil_img5 img {
        width: 465px;
        height: 290px;
    }

    .asil_img5 h2 {
        font-size: 30px;
        width: 350px;
        margin-left: 0;
    }

    .asil_img5 {
        h4 {
            margin-left: 335px;
            margin-top: -55px;
        }

        border-radius: 9px;
    }

    .asil_img5 {
        width: 465px;
        height: 420px;
        margin-left: 0;
        margin-top: 30px;
    }

    .asil_imgdivi3 {
        display: flex;
        gap: 20px;
    }


    .asil_img6 img{
        width: 465px;
        height: 290px;
    }

    .asil_img6 h2{
        font-size: 30px;
        width: 300px;
        margin-left: 0;
    }

    .asil_img6 {
        h4 {
            margin-left: 335px;
            margin-top: -55px;
        }

        border-radius: 9px;
    }

    .asil_img6 {
        width: 465px;
        height: 420px;
        margin-left: 0;
        margin-top: 30px;
    }

    .asil_ikkinchi {
        .h1 {
            font-size: 40.5px;
            width: 300px;
        }

        .asil_shirinliklar {
            width: 100px;
            column-gap: 15px;
            .asil_cakes img {
                width: 230px;
                display: flex;
            }

            .asil_cakes h2 {
                width: 210px;
                font-size: 18px;
                font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            }
        }
    }

    .asil_load {
        margin-top: 55px;
        margin-left: 360px;
        width: 230px;
        height: 40px;
    }

    .asil_footer {
        table {
            width: 1000px;
            margin: 0;
            hr{
                width: 900px;
            }
        }

        .asil_birth {
            width: 500px;
        }
        background-color: rgb(231, 228, 228);
        width: 980px;
        height: 250px;
    }
}